vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Oct 2015 10:17:38 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_author:SR|user-PC\\user
vti_modifiedby:SR|user-PC\\user
vti_timecreated:TR|21 Oct 2015 10:17:38 -0000
vti_cacheddtm:TX|21 Oct 2015 10:17:38 -0000
vti_filesize:IR|4313
vti_cachedlinkinfo:VX|S|../images/loader.gif S|../images/icons.png
vti_cachedsvcrellinks:VX|NSUS|images/loader.gif FSUS|images/icons.png
